html, body {
  direction: rtl;
}


.form-item__label {
  margin-right: 0px;
  margin-left: 20px;
}

.form__section .form-item {
  margin-right: 0px;
}

.form__button {
  margin-left: 0px;
  margin-right: 40px;
}
