@import url('https://fonts.googleapis.com/css?family=Merriweather');

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,
button,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,
embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,
hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,
output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,
sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    border:0;
    font:inherit;
    font-size:100%;
    margin:0;
    padding:0;
    vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

body {
    line-height: 1
}

a, a:hover {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

a:focus, a:visited, a:active {
  /* color: inherit; */
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

button {
    background: transparent
}

* {
    box-sizing: border-box
}

:focus {
    outline: 0
}

html {
    font-size: 62.5%
}

body {
    color: #000;
    /* font-family: Open Sans,Arial,sans-serif; */
    font-size: 1.6rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Merriweather', serif;
}

body :focus {
    outline: 0
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  max-width: 1280px;
  padding: 0px 10px;
  margin: 0 auto;
  height: 100%;
}

.nav {
  border-bottom: 1px solid #eee;
  background: #fff;
  z-index: 1;
}

.nav__container {
  display: flex;
  padding-top: 10px;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.nav__language {
  font-size: 11px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.nav__mobile {
  margin-right: 40px;
  font-size: 11px;
}

.language-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
}

.language-list__item {
    margin-bottom: 20px;
    padding: 10px;
}

.header {
  height: 100px;
  color: #fff;
  background: #fff;
  border-bottom: 1px solid #eee;
  z-index: 1;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {

}

.header__logo img {
  width: 250px;
}

.header__menu-container {

}

.header__menu {

}

.menu {
  display: flex;
}

.menu__item {
  margin: 0px 10px
}

.menu__item:last-child {
  margin-right: 0px;
}

.menu__link {
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
  display: block;
  position: relative;
  color: rgba(0,0,0,.7);
  cursor: pointer;
  transition: color .4s;
  font-size: 14px;
}

.menu__item:last-child .menu__link {
  padding-right: 0px;
}

.menu__link:hover {
  color: rgba(0,0,0,1);
}

.page {
  flex: 1;
  min-height: 300px;
  z-index: 1;
  background: #fff;
  padding-top: 30px;
}

.page_is-last {
  margin-bottom: 350px; /* Change footer height to be identical as this */
}

.page__container {
  margin-bottom: 30px;
}

.page__banner {
  overflow: hidden;
}

.page__title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.page__description {
  line-height: 1.7;
}

.page__contact-box {
  flex: 0.5;
}

.page__section {
  display: flex;
  margin: 20px 0px;
}

.page__service-container {
  display: flex;
  margin: 20px 0px;
}

.service {
  margin-right: 20px;
  transition: box-shadow .4s;
  cursor: pointer;
}

.service:hover {
  box-shadow: 0 24px 24px 0 rgba(0,0,0,.15), 0 12px 12px 0 rgba(0,0,0,.06), 0 6px 6px 0 rgba(0,0,0,.06), 0 5px 5px 0 rgba(0,0,0,.04), 0 4px 4px 0 rgba(0,0,0,.02), 0 2px 2px 0 rgba(0,0,0,.02);
}

.service__image {
  min-height: 150px;
  min-height: 150px;
  background: rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.service__name {
  line-height: 1.7;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 0px 10px;
}

.service__description {
  line-height: 1.7;
  font-size: 14px;
  padding: 0px 10px;
  margin-bottom: 20px;
}

.contact-box {
  padding: 20px;
}

.contact-box__title {
  margin-bottom: 30px;
}

.contact-box__phone {
  margin-bottom: 30px;
}

.contact-box__email {

}

.banner-item {
  background: url(../assets/images/banner6.jpg);
  background-size: cover;
  height: 500px;
  min-height: 500px;
  transition: transform .8s ease-in-out;
}

.banner-item::after {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(52, 73, 94, 0.75);
}

.page__banner:focus .child:before {
  display: block;
}

.page__banner:hover .banner-item   {
    transform: scale(1.02);
}

.page__contact-container {
    display: flex;
}

.page__form {
  margin: 20px 0px;
  flex: 0.5;
  margin-right: 100px;
}

.page__form-description {
  margin-bottom: 30px;
}

.form {

}

.form__section {
  display: flex;
  margin-bottom: 20px;
}

.form__item {
  margin-right: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.form__section .form-item {
  margin-right: 20px;
}

.form-item {
  display: flex;
  width: 100%;
  align-items: center;
}

.form-item__label {
  margin-right: 20px;
  font-size: 21px;
  color: rgba(0,0,0,0.8);
}

.form-item__name {
  font-size: 12px;
}

.form-item__input {
  width: 100%;
}

.form__button {
  width: 150px;
  margin-left: 40px;
}

.input-item {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.3);
}

.input-item_is-textarea {
  height: 150px;
}

.button-item {
  background: rgba(0,0,0,0.8);
  color: #fff;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.button-item:hover {
  background: rgba(0,0,0,1);
}

.page__footer {

}

.footer {
  background: #f5f5f5;
  height: 350px; /* Change page_is-last also to be identical as this */
  color: #000;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer__column-list {
  display: flex;
  margin-bottom: 30px;
  padding-top: 40px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  min-width: 300px;
  width: 300px;
}

.footer__column-title {
  margin-bottom: 20px;
  font-weight: bold;
}

.footer__column-content {
  line-height: 1.7;
  color: rgba(0,0,0,.7);
}

.footer__links {
    display: flex;
    border-top: 1px solid #ddd;
    width: 100%;
    padding: 40px 0px;
}

.footer__link {
    position: relative;
    border: 1px solid #bdbdbd;
    margin-right: 30px;
    padding: 18px;
    border-radius: -15px;
    border-radius: 25px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0,0,0,0.7);
}

.footer__link:hover {
  color: #fff;
  background: rgba(0,0,0,0.7);
}

@media (max-width: 450px) {

  .header__logo img {
      width: 150px;
  }

  .page__service-container {
    flex-direction: column;
  }

  .service {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
  }

  .page__form {
    flex: auto;
    margin: 0;
  }

  .page__contact-container {
    flex: auto;
  }

  .page__contact-container {
    flex-direction: column;
  }

  .page_is-last {
    margin-bottom: 30px;
  }

  .footer {
    height: auto;
    position: relative;
  }

  .footer__column-list {
    flex-direction: column;
    margin-top: 30px;
  }

  .footer__column {
    margin-bottom: 30px;
  }
}

@media (min-width: 1700px) {
  /* .banner-item {
    height: 700px;
  } */
}
